body {
    background-color: #474747;
}
.big-box {
    position: relative;
    width: 200px;
    max-height: 200px;
    z-index: 1;
    top: calc(50vh - 100px);
    left: calc(50% - 100px);
}
.small-box {
    position: relative;
    float:right;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    margin: 0 !important;
}