body {
    background-color: #474747;
}
.big-box {
    position: relative;
    width: 250px;
    max-height: 250px;
    z-index: 1;
    top: calc(50vh - 125px);
    left: calc(50% - 125px);
}
.small-box {
    position: relative;
    float:right;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    margin: 0 !important;
}